<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @organization.name %></h1>
    <p>
      You have successfully signed up to Payroll,
    </p>
    <p>
      To set password, just follow this link: <%= link_to "Password Set", edit_password_set_url(id: @organization.id) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
